<p style="float: left; padding-right: 40px; width: 170px;">
  <%= link_to @comment.user.full_name, @comment.user, style: "color: #d87900; font-weight: bold" %>
</p>
<div style="display: table">
  <p><%= @comment.content %></p>
</div>
