<% provide :title, @pitch.name %>

<section class="banner-area relative">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row fullscreen align-items-center justify-content-between">
      <div class="col-md-3"></div>
      <div class="col-md-6 p-top-150px">
        <h1 style="color:white"><%= @pitch.name %></h1>
        <div>
          <%= render partial: "subpitch", collection: @subpitches %>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</section>
