<%= form_for :likerating, url: like_ratings_path, remote: true do |f| %>
  <%= f.hidden_field :rating_id, value: rating_id %>
  <div style = "position:relative">
    <%= render partial: "like_ratings/count_like", locals: {rating_id: rating_id} %>
    <span class="glyphicon glyphicon-thumbs-up" style=" position: absolute; left: 55px; font-size: 30px; cursor: pointer" onclick="$(this).submit();"></span>
  </div>
<% end %>
