<%= form_for :likerating, url: like_rating_path(@likerating.id),:html => { method: :delete, :remote => true } do |f| %>
  <div style = "position:relative">
    <a href = "#" class="glyphicon glyphicon-thumbs-down" style=" position: absolute; left: 27px; font-size: 30px;" onclick="$(this).submit();"></a>
  </div>
<% end %>
